[submodule "extern/RequestMapper"]
	path = extern/RequestMapper
	url = https://github.com/feast107/RequestMapper.git
[submodule "extern/Foundation-Core"]
	path = extern/Foundation-Core
	url = https://github.com/Antelcat/Foundation-Core.git
